<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">
      <a class="navbar-brand" routerLink="/"  routerLinkActive="active">Dating App</a>

        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <ng-container *ngIf="accountService.currentUser$ | async">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" routerLink="/members" routerLinkActive="active">Matches</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
            </li>
          </ng-container>
          <li class="nav-item">
            <a class="nav-link" routerLink="/errors" routerLinkActive="active">Errors</a>
          </li>
        </ul>

        <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
          <a class="dropdown-toggle text-light" dropdownToggle>Welcome {{user.username | titlecase}}</a>
          <div class="dropdown-menu mt-3" *dropdownMenu>
            <a class="dropdond-item pl-3">Edit Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdond-item pl-3" (click)="logout()">Logout</a>
          </div>
        </div>

        <form #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off" *ngIf="(accountService.currentUser$ | async) === null">
          <input name="username" [(ngModel)]="model.username" 
            class="form-control mr-sm-2" type="text" placeholder="Username">
          <input name="password" [(ngModel)]="model.password" 
            class="form-control mr-sm-2" type="password" placeholder="Password">
          <button class="btn btn-success" type="submit">Login</button>
        </form>
    </div>
  </nav>